@import '@/styles';

.article_card {
  width: 70vw;
  margin: 26px 0;
  padding: 15px 15px 20px 15px;

  border-radius: 5px;
  background: $background-color-base;

  & > * {
    overflow: hidden;
    word-break: break-word;

    img {
      max-width: 100%;
    }
  }

  &--full {
    @extend .article_card;
    margin-bottom: 64px;
  }
}

.title {
  margin-right: 10px;
  margin-bottom: 4px;

  color: $info-color;
  @include h5-font-style;
  @include truncated-word();
  @include truncated-text(1);
}

.header {
  margin-bottom: 8px;
  flex-wrap: nowrap;

  .header_meta {
    margin-right: auto;
    padding-right: 20px;

    .title_row {
      flex-wrap: nowrap;
    }

    .title {
      margin-right: 10px;
      margin-bottom: 4px;

      color: $info-color;
      @include h5-font-style;
      @include truncated-word();
      @include truncated-text(1);
    }

    .hearts {
      gap: 4px;
      display: flex;
      align-items: center;
      padding-bottom: 3px;

      & > span {
        cursor: default;
      }
    }

    .tags {
      max-height: 50px;
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 12px;
      color: $text-color-secondary;

      span {
        padding: 0 6px;
        cursor: pointer;
      }

      & > * {
        height: 20px;
        margin: 0 8px 4px 0;

        display: inline-block;
        vertical-align: middle;
        line-height: 21px;

        border-radius: 2px;
        border: 1px solid $text-color-secondary;
        @include truncated-word();
        @include truncated-text(1);

        &:hover {
          color: black;
          border-color: black;
        }
      }

      @include base-font-style;
    }
  }

  .author {
    flex-shrink: 0;

    .posted_meta {
      margin-right: 12px;

      .name {
        color: $heading-color;
        @include h6-font-style;
      }

      .date {
        color: $text-color-secondary;
        @include font-size-sm_12px;
      }
    }

    .photo {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }
  }
}

.description {
  margin-bottom: 20px;
  @include truncated-word();
  @include truncated-text(3);

  .text {
    width: 75%;
    max-height: 50px;

    &--full {
      @extend .text;
      color: $text-color-secondary;
    }
  }
}
