@mixin base-font-style {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin h6-font-style {
  /* H6 - Header 6 */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

@mixin h5-font-style {
  /* H5 - Header 5 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

@mixin font-size-sm-12px {
  /* @font-size-sm: 12px */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
}

@mixin truncated-text($line-count) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-line-clamp: $line-count;
}

@mixin truncated-word() {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
