@import '@/styles';
$wrap-m: 60px;

.page {
  height: 100vh;
}

.wrapper {
  display: flex;

  padding-top: $py-1;
  padding-bottom: calc($wrap-m/2);
  margin: calc($wrap-m - $py-1) 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 384px;
  padding: 48px 32px;
  flex-direction: column;
  justify-content: center;
  @include form-box;
  @include font-size-regular_14px-22px;

  :global {
    .ant-form-item {
      margin: 0;
    }
  }
}

.login_form {
  gap: 20px;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: center;
    color: $grey-grey-9;
    @include font-size-semibold_20px-28px;
  }

  .inputs_box {
    gap: 12px;
    display: flex;
    flex-direction: column;

    :global {
      .ant-form-item-label {
        padding-bottom: 2px;
        color: $grey-grey-9;
        @include font-size-regular_14px-22px;
      }
    }
  }

  .agreement_box {
    :global {
      .ant-divider {
        margin: 0;
        margin-bottom: 8px;
        border-top: 1.2px solid $grey-grey-4;
      }

      .ant-checkbox-wrapper {
        color: $grey-grey-8;
        @include font-size-regular_14px-22px;
      }

      .ant-checkbox {
        display: flex;
        padding-top: 2px;
        align-self: flex-start;
      }

      .ant-checkbox-inner {
        border-radius: 2px;
      }
    }
  }

  .submit_box {
    :global {
      .ant-btn {
        height: fit-content;
        margin-bottom: 8px;
        padding: 8px 16px;

        color: $grey-grey-1;
        background-color: $daybreak-blue-blue-6;
        @include font-size-regular_16px-24px;
      }
    }

    .have_account {
      display: flex;
      justify-content: center;
      color: $grey-grey-7;
      @include font-size-regular_12px-20px;

      .toggle_login {
        padding-left: 3px;
        color: $daybreak-blue-blue-6;
        @include font-size-regular_12px-20px;
      }
    }
  }
}

.checkbox_wrapper {
  :global {
    @include ant-checkbox-styles(
      $daybreak-blue-blue-6,
      $grey-grey-1,
      $daybreak-blue-blue-6,
      $daybreak-blue-blue-6
    );
  }

  &--error {
    :global {
      @include ant-checkbox-styles(
        $error-color,
        $error-color,
        $error-color,
        $error-color
      );
    }
  }
}
