@import '@/styles';

.header {
  height: 80px;
  padding: 0 22px;
  display: flex;
  align-items: center;
  user-select: none;

  color: $heading-color;
  background-color: $background-color-base;
  @include h6-font-style;

  & > * {
    display: flex;
    align-items: center;
  }

  .logo_title {
    margin-right: auto;
  }

  .not_auth {
    gap: 20px;

    .sign_up {
      @include header-login-btn($success-color);
    }
  }

  .auth {
    gap: 20px;

    .create_article {
      @include font-size-base_14px;
      @include header-login-btn($success-color);
      width: 112px;
      height: 32px;
    }

    .profile {
      gap: 14px;
      display: flex;
      align-items: center;
      color: $heading-color;
      @include h6-font-style;

      img {
        border-radius: 50%;
      }
    }

    .log_out {
      @include header-login-btn($text-color);
    }
  }
}
